@charset "utf-8";

:root {
  /* Root font size*/
  font-size: 16px;
   --base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   --base-line-height: 1;
   --spacing-unit: 5px;
   /* Colors */
  --light-color: #D9D9E2;
  --dark-color: #24292e;
  --primary-color: #3F51B5;
/*  --primary-light-color: #ffffff;
  --primary-dark-color: #d5d5d5;
  --brand-color: #654ff0;
  --error-color: #f44336;
  --warning-color: #ffc107;*/
}

* {
  box-sizing: border-box;
}

html, body, .container-fluid, .row {
	height: 100%;
}

body {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: var(--light-color);
	padding: 0;
	margin: 0;
	font-family: var(--base-font-family);
	overflow: hidden;
	line-height: var(--base-line-height);
}

nav {
  background: rgba(44, 45, 63, 0.8);
	user-select: none;
}

nav a {
	color: var(--light-color);
}

nav a:hover {
	color: var(--light-color);
}

.input-group {
  padding: calc(8 * var(--spacing-unit));
}

main {
	color: var(--light-color);
	text-align: center;
}

.nav-tabs--vertical {
  border-bottom: none;
  display: flex;
  flex-flow: column nowrap;
}

.nav-tabs--left .nav-link {
  white-space: nowrap;
  border: 1px solid transparent;
}
.nav-tabs--left .nav-link:hover {
    background: transparent;
    border: 1px solid #00c6ff;
    border-radius: calc(var(--spacing-unit));
}

.nav-tabs .nav-link {
  color: var(--light-color);
  border: 1px solid transparent;
	border-radius: calc(var(--spacing-unit));
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: 1px solid #00c6ff;
  background: transparent;
  color: var(--light-color);
  border-radius: calc(var(--spacing-unit));
}

.nav-tabs .nav-item {
	margin: calc(2 * var(--spacing-unit));
}

.wrapper {
  background: rgba(44, 45, 63, 0.8);
  padding: calc(3 * var(--spacing-unit)) calc(10 * var(--spacing-unit));
  border-radius: calc(2 * var(--spacing-unit));
}

.custom-file-label {
  text-align: left;
}

#submit-btn {
  margin-left: var(--spacing-unit);
}

.reg-status {
  color: #28a745;
  opacity: 0;
}

.journalists {
  list-style: none;
}
.journalists li {
  padding: var(--spacing-unit);
  margin: var(--spacing-unit) 0;
  border: 1px solid #00c6ff;
}